.form {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
}

.select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 10px;
    margin-top: 15px;
}